apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.services.name }}
  labels:
    name: {{ .Values.services.name }}
spec:
  type: NodePort
  selector:
    {{- include "attachLabels" . | indent 4 }}
  ports:
    - port: {{ .Values.services.port }}
      targetPort: {{ .Values.services.targetPort }}
      nodePort: {{ .Values.services.nodePort }}